<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="footer-col">
                <h4><a routerLink="/company">Company</a></h4>
                <ul>
                    <li><a [routerLink]="'/company'" fragment="about-us">About Us</a></li>
                    <li><a [routerLink]="'/company'" fragment="careers">Careers</a></li>
                    <li><a [routerLink]="'/company'" fragment="our-services">Our Services</a></li>
                    <li><a [routerLink]="'/company'" fragment="privacy-policy">Privacy Policy</a></li>
                    <li><a [routerLink]="'/company'" fragment="affiliate-program">Affiliate Program</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4><a routerLink="/get-help">Get Help</a></h4>
                <ul>
                    <li><a [routerLink]="'/get-help'" fragment="FAQ">FAQ</a></li>
                    <li><a [routerLink]="'/get-help'" fragment="shipping">Shipping</a></li>
                    <li><a [routerLink]="'/get-help'" fragment="returns">Returns</a></li>
                    <li><a [routerLink]="'/get-help'" fragment="payment-options">Payment Options</a></li>
                    <li><a [routerLink]="'/get-help'" fragment="contact-us">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4><a routerLink="/useful-links">Useful Links</a></h4>
                <ul>
                    <li><a [routerLink]="'/useful-links'" fragment="offers">Offers </a></li>
                    <li><a [routerLink]="'/useful-links'" fragment="mobile-app">Mobile App</a></li>
                    <li><a [routerLink]="'/useful-links'" fragment="accessibility">Accessibility</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a ><i class="fab fa-facebook-f"></i></a>
                    <a ><i class="fab fa-twitter"></i></a>
                    <a ><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>