<section class="py-5">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-6">
          <div class="banner-ad bg-danger mb-3" style="background: url('');background-repeat: no-repeat;background-position: right bottom;">
            <div class="banner-content p-5">

              <div class="categories text-primary fs-3 fw-bold">Spooky Savings!</div>
              <h3 class="banner-title">Witchy Rides Collection</h3>
              <p>Drive into the night with our bewitched & ghostly vehicles.</p>
              

            </div>
          
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner-ad bg-info" style="background: url('');background-repeat: no-repeat;background-position: right bottom;">
            <div class="banner-content p-5">

              <div class="categories text-primary fs-3 fw-bold">Spooky Savings!</div>
              <h3 class="banner-title">Haunted Gadget</h3>
              <p>Get your new spooky phone!</p>
        

            </div>
          
          </div>
        </div>
           
      </div>
    </div>
  </section>