<div class="company" id="company">
    <h1 class="fw-bold">Company</h1>
    <p> Join us on our journey to make sustainable living both accessible and exciting. Together, we can create a more
        eco-conscious future.</p>
    <div class="about-us" id="about-us">
        <h2 class="fw-bold">About Us</h2>
        <p>
            Discover the story of our website, from our humble beginnings to our present-day mission to create a
            thriving marketplace for second-hand items. </p>
        <h4>
            Meet the faces behind the platform.</h4>
            <div class="developers">
                <div class="author">
                    <img src="https://cdn-icons-png.flaticon.com/512/10438/10438143.png">
                    <p> Damla Sevinc Tokdemir </p>
                </div>
                <div class="author">
                    <img src="https://cdn-icons-png.flaticon.com/512/4323/4323015.png">
                    <p> Kevin Janzen </p>
                </div>
                <div class="author">
                    <img src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png">
                    <p> Sameetah Fatima </p>
                </div>
                <div class="author">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
                    <p> Simeon Andonov </p>
                </div>
            </div>
    </div>

    <div class="careers" id="careers">
        <h2 class="fw-bold">Careers</h2>
        <p>
            Find your dream job at SecondHandHub! We offer opportunities for growth and innovation, where your ideas can
            make a real impact in the world of sustainable e-commerce.
        </p>
        <p>
            Our company culture is built on collaboration, creativity, and sustainability. Join our diverse team, where
            you can make a difference while pursuing your career goals
        </p>
        <p>
            Discover the various positions available, ranging from customer support and marketing to technology and
            logistics. Your skills and passion are valued here.
        </p>
        <p>
            Just get in touch via the form in the
            <a [routerLink]="'/get-help'" fragment="contact-us"><b class="contact-us">Contact Us</b></a>
            section.
        </p>
    </div>

    <div class="our-services" id="our-services">
        <h2 class="fw-bold">Our Services</h2>
        <p>
            We go the extra mile to ensure that your experience is exceptional. Our services are designed to simplify
            the process of buying and selling second-hand items.
        </p>
        <p>
            From secure payment options to item inspections and fast, reliable shipping, our services are tailored to
            meet the needs of our growing community.
        </p>
        <p>
            Our commitment to service excellence means you can shop with confidence, knowing that we've taken every step
            to enhance your experience.
        </p>
    </div>

    <div class="privacy-policy" id="privacy-policy">
        <h2 class="fw-bold">Privacy Policy</h2>
        <p>
            Your trust is our top priority. We outline our privacy practices in clear and simple terms, so you can shop
            with confidence, knowing your data is protected.
        </p>
        <p>
            We never compromise on the security and privacy of your information. Our Privacy Policy provides full
            transparency about how we collect, use, and protect your data.
        </p>
        <p>
            Our privacy commitment extends to the security of your payment information, personal details, and browsing
            activity. Your trust is well-placed with SecondTreasures.
        </p>
    </div>

    <div class="affiliate-program" id="affiliate-program">
        <h2 class="fw-bold">Affiliate Program</h2>
        <p>
            Join our Affiliate Program and become a part of our mission to promote sustainable shopping. It's not just
            about earning commissions; it's about making a positive change.
        </p>
        <p>
            Earning money while helping to reduce waste? It's a win-win! Share your love for SecondTreasures and
            contribute to a more eco-conscious future
        </p>
        <p>
            Our Affiliate Program offers a simple and rewarding way to spread the word about SecondTreasures. Partner
            with us, and let's work together to build a sustainable world.
        </p>
        <p> Just get in touch via the form in the
            <a [routerLink]="'/get-help'" fragment="contact-us"><b class="contact-us">Contact Us</b></a>
            section.
        </p>
    </div>
</div>