<div class="search-bar row bg-light p-2 my-2 rounded-4">
    <!-- <div class="col-md-4 d-none d-md-block">
      <select class="form-select border-0 bg-transparent">
        <option>All Categories</option>
        <option *ngFor="let category of categories">
          {{ category.name }}
        </option>
      </select>
    </div> -->
    <div class="col-10">
      <form
        id="search-form"
        class="text-center"
        action="index.html"
        method="post"
      >
        <input
          type="text"
          #searchInput
          class="form-control border-0 bg-transparent"
          placeholder="Search for more than 20,000 products"
          formControlName="searchInput"
        />
      </form>
    </div>
    <div class="col-2 col-sm-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        (click)="submitSearch(searchInput.value)"
        width="24"
        height="24"
        viewBox="0 0 24 24" 
      >
        <path
          fill="currentColor"
          d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"
        />
      </svg>
    </div>
  </div>