<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div
          class="section-header d-flex flex-wrap justify-content-between mb-5"
        >
          <h2 class="section-title">Most liked Brands</h2>

          <div class="d-flex align-items-center">
            <a  class="btn-link text-decoration-none"
              >View All Categories →</a
            >
            <div class="swiper-buttons">
              <button class="swiper-prev category-carousel-prev btn btn-yellow">
                ❮
              </button>
              <button class="swiper-next category-carousel-next btn btn-yellow">
                ❯
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center my-3">
      <div class="row mx-auto my-auto justify-content-center">
        <div
          id="recipeCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
          #recipeCarousel
        >
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="swiper-slide">
                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img
                        src="images/product-thumb-11.jpg"
                        class="img-fluid rounded"
                        alt="Card title"
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body py-0">
                        <p class="text-muted mb-0">Amber Jar</p>
                        <h5 class="card-title">
                          Honey best nectar you wish to get
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
                <div class="swiper-slide">
                  <div class="card mb-3 p-3 rounded-4 shadow border-0">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img
                          src="images/product-thumb-11.jpg"
                          class="img-fluid rounded"
                          alt="Card title"
                        />
                      </div>
                      <div class="col-md-8">
                        <div class="card-body py-0">
                          <p class="text-muted mb-0">Amber Jar</p>
                          <h5 class="card-title">
                            Honey best nectar you wish to get
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="swiper-slide">
                  <div class="card mb-3 p-3 rounded-4 shadow border-0">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img
                          src="images/product-thumb-11.jpg"
                          class="img-fluid rounded"
                          alt="Card title"
                        />
                      </div>
                      <div class="col-md-8">
                        <div class="card-body py-0">
                          <p class="text-muted mb-0">Amber Jar</p>
                          <h5 class="card-title">
                            asdasdasdasdsadas
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <a
            class="carousel-control-prev bg-transparent w-aut"
            href="#recipeCarousel"
            role="button"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a
            class="carousel-control-next bg-transparent w-aut"
            href="#recipeCarousel"
            role="button"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
