.cat-item:hover {
  cursor: pointer;
}

.custom-sidebar {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top:0;
}

.category-link {
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}


.widget-title {
  margin-top: 20px;  
}
